<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS10.dao.CartDAO">

	<select id="getCartItem" resultType="com.spring.springGroupS10.vo.CartVO">
		select * from cart 
		where memberIdx = #{vo.memberIdx} and productIdx = #{vo.productIdx}
		<if test="vo.optionIdx == null">
			and optionIdx is null
		</if>
		<if test="vo.optionIdx != null">
			and optionIdx = #{vo.optionIdx}
		</if>
	</select>

	<select id="getCartList" resultType="com.spring.springGroupS10.vo.CartVO">
		SELECT 
			c.idx,
			c.memberIdx,
			c.productIdx,
			c.optionIdx,
			c.quantity,
			p.productName,
			p.mainPrice,
			p.fSName,
			o.optionName,
			o.optionPrice,
			(p.mainPrice + IFNULL(o.optionPrice, 0)) * c.quantity AS totalPrice
		FROM cart c
		JOIN dbProduct p ON c.productIdx = p.idx
		LEFT JOIN dbOption o ON c.optionIdx = o.idx
		WHERE c.memberIdx = #{memberIdx}
		ORDER BY c.idx DESC;
	</select>

	<select id="getCartListByIdxs" parameterType="java.util.List" resultType="com.spring.springGroupS10.vo.CartVO">
		SELECT 
	    c.idx AS idx,
	    c.memberIdx,
	    c.productIdx,
	    c.optionIdx,
	    c.quantity,
	    p.productName,
	    p.fSName,
	    p.mainPrice,
	    o.optionName,
	    o.optionPrice,
	    (p.mainPrice + IFNULL(o.optionPrice, 0)) * c.quantity AS totalPrice
		FROM cart c
		JOIN dbProduct p ON c.productIdx = p.idx
		LEFT JOIN dbOption o ON c.optionIdx = o.idx
		WHERE c.idx IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
    	#{item}
		</foreach>
		ORDER BY c.addDate DESC
	</select>

	<select id="getRecentCartList" resultType="com.spring.springGroupS10.vo.CartVO">
    SELECT
	    c.productIdx,
	    p.productName,
	    p.fSName,
	    o.optionName,
	    c.quantity,
	    (p.mainPrice + IFNULL(o.optionPrice, 0)) * c.quantity AS totalPrice
    FROM cart c
    JOIN dbProduct p ON c.productIdx = p.idx
    LEFT JOIN dbOption o ON c.optionIdx = o.idx
    WHERE c.memberIdx = #{memberIdx}
    ORDER BY c.addDate DESC
    LIMIT #{i}
	</select>




	<insert id="addCart">
		insert into cart (memberIdx, productIdx, optionIdx, quantity) 
		values (#{vo.memberIdx}, #{vo.productIdx}, #{vo.optionIdx}, #{vo.quantity})
	</insert>

	
	
	
	
	
	<update id="updateCartQuantity">
		update cart set quantity = quantity + #{vo.quantity} where idx = #{vo.idx}
	</update>

	<update id="updateItemQuantity">
		update cart set quantity = #{quantity} where idx = #{cartIdx}
	</update>
	
	
	
	
	
	
	<delete id="deleteCartItem">
		delete from cart where idx = #{cartIdx}
	</delete>
	
	
	
	
	
	

</mapper>