<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS10.dao.DbShopDAO">

	<select id="getCategoryMain" resultType="com.spring.springGroupS10.vo.DbProductVO">
		select * from categoryMain order by categoryMainCode desc;
	</select>

	<select id="getCategoryMiddle" resultType="com.spring.springGroupS10.vo.DbProductVO">
		select middle.*, main.categoryMainName from categoryMiddle middle, categoryMain main
	    where middle.categoryMainCode=main.categoryMainCode
	    order by categoryMiddleCode desc;
	</select>
	
	<select id="getCategoryMainOne" resultType="com.spring.springGroupS10.vo.DbProductVO">
		select * from categoryMain where categoryMainCode=#{categoryMainCode} and categoryMainName=#{categoryMainName};
	</select>

	<select id="getCategoryMiddleOne" resultType="com.spring.springGroupS10.vo.DbProductVO">
		select * from categoryMiddle 
			where categoryMainCode=#{vo.categoryMainCode} and categoryMiddleCode=#{vo.categoryMiddleCode} and categoryMiddleName=#{vo.categoryMiddleName};
	</select>
	
	<select id="getCategoryProductName" resultType="com.spring.springGroupS10.vo.DbProductVO">
		select * from dbProduct where categoryMainCode=#{vo.categoryMainCode} and categoryMiddleCode=#{vo.categoryMiddleCode}; 
	</select>
	
	<select id="getCategoryMiddleName" resultType="com.spring.springGroupS10.vo.DbProductVO">
		select * from categoryMiddle where categoryMainCode=#{categoryMainCode};
	</select>
	
	
	
	<insert id="setCategoryMainInput">
		insert into categoryMain values (#{vo.categoryMainCode},#{vo.categoryMainName});
	</insert>
	
	<insert id="setCategoryMiddleInput">
		insert into categoryMiddle values (#{vo.categoryMainCode},#{vo.categoryMiddleCode},#{vo.categoryMiddleName});
	</insert>

	
	
	
	
	
	<delete id="setCategoryMainDelete">
		delete from categoryMain where categoryMainCode=#{categoryMainCode};
	</delete>
	
	<delete id="setCategoryMiddleDelete">
		delete from categoryMiddle where categoryMiddleCode=#{categoryMiddleCode};
	</delete>
	
	

</mapper>