<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS10.dao.MemberDAO">

	<select id="getMemberByUserid" resultType="com.spring.springGroupS10.vo.MemberVO">
		select * from member where userid = #{userid}
	</select>
	
	<select id="getMemberByNickname" resultType="com.spring.springGroupS10.vo.MemberVO">
		select * from member where nickname = #{nickname}
	</select>
	
	<!-- 등급별 전체 회원 수 구하기 (동적 쿼리) -->
	<select id="getTotRecCnt" resultType="int">
	  select count(*) from member
	  <if test="level != 99">
	    where level = #{level}
	  </if>
	</select>
	
	<!-- 페이징 처리 및 등급별 조회를 적용한 회원 목록 (동적 쿼리) -->
	<select id="getMemberList" resultType="com.spring.springGroupS10.vo.MemberVO">
	  select *, timestampdiff(day, deleted_at, now()) as deleteDiff from member
	  <if test="level != 99">
	    where level = #{level}
	  </if>
	  order by idx desc 
	  limit #{startIndexNo}, #{pageSize}
	</select>
	
	
	
	
	
	
	<insert id="setMemberJoin">
		insert into member (userid, password, nickname, name, email, tel, birthday, gender, postcode, address1, address2) 
		values (#{vo.userid}, #{vo.password}, #{vo.nickname}, #{vo.name}, #{vo.email}, #{vo.tel}, #{vo.birthday}, #{vo.gender}, #{vo.postcode}, #{vo.address1}, #{vo.address2})
	</insert>
	
	
	
	
	
	
	<update id="setMemberLevelUp">
		update member set level = 2 where userid = #{userid};
	</update>
	
	<update id="setMemberTodayCntClear">
		update member set today_cnt = 0 where userid = #{userid};
	</update>
	
	<update id="setMemberInforUpdate">
		update member set visit_cnt=visit_cnt+1, last_login_at=now(), today_cnt=today_cnt+1, point=point+#{point} where userid = #{userid};
	</update>
	
  <!-- 회원 등급 변경 -->
  <update id="updateMemberLevel">
    update member set level = #{level} where idx = #{idx}
  </update>	
	
	
	
	
	
	
  <!-- 30일 경과 탈퇴 회원 삭제 (추가된 부분) -->
  <delete id="deleteExpiredMembers">
    delete from member where isDeleted = true and timestampdiff(day, deleted_at, now()) >= 30
  </delete>
	
	
</mapper>

